
                    <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>

                                    <td class="text-left">
                                        司机姓名
                                    </td>
                                    <td class="text-left">
                                        司机编号
                                    </td>
                                    <td class="text-left">
                                        联系电话
                                    </td>
                                    <td class="text-left">
                                        车型
                                    </td>
                                    <td class="text-left">
                                        车牌号码
                                    </td>

                                    <td class="text-right">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="driverList" id="list">
                                    <tr>

                                        <td class="text-left">{$list.driver_name}</td>
                                        <td class="text-left">{$list.driver_no}</td>
                                        <td class="text-left">{$list.mobile}</td>
                                        <td class="text-left">{$list.car_type}</td>
                                        <td class="text-left">{$list.car_no}</td>
                                        <td class="text-right">
                                            <a href="{:U('Admin/driver/modify_driver',array('driver_id'=>$list['driver_id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-pencil"></i></a>
                                            <!--<a href="{:U('Admin/driver/delete_driver',array('driver_id'=>$list['driver_id']))}" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>-->
                                            <a class="btn btn-danger" href="javascript:void(0)" data-url="{:U('driver/delete_driver')}" data-id="{$list['driver_id']}" onclick="delfun(this)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-3 text-left">
                        </div>
                        <div class="col-sm-6 text-right">{$page}</div>
                    </div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });

    function delfun(obj){
        if(confirm('确认删除')){
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {act:'del',driver_id:$(obj).attr('data-id')},
                dataType : 'json',
                success : function(data){
                    if(data==1){
                        $(obj).parent().parent().remove();
                    }else{
                        layer.alert(data, {icon: 2});   //alert('用户名或密码不能为空');// alert(data);
                        layer.closeAll();
                    }
                }
            })
        }
        return false;
    }
</script>