<style type="text/css">
    <!--
    .paper {
        padding: 0mm 0mm 0mm 5mm;
        font-size:11pt;
    }
    .paper table tr td{
        border: 1px solid black;
    }
    .paper td{
        heith:10mm;
        line-height: 10mm;
        padding-left: 5mm;
        padding-right: 5mm;
    }
    .paper .start_end{
        margin-bottom: 5mm;
    }

    .paper .driver_table td{
        heith:8mm;
        line-height: 8mm;
        padding-left: 5mm;
    }
    .paper .driver_table{
        padding: 0mm 0mm 0mm 5mm;
        font-size:10pt;
    }
    .paper .driver_table .goods_name{
        width:42mm;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    -->
</style>
<div class="paper">
    <div class="start_end">{$start_end} &nbsp;&nbsp;&nbsp;&nbsp;<if condition="$type==1">配送人：{$driver['driver_name']}</if></div>
    <if condition="$type==0">
        <table>
            <tr>
                <td>品名</td>
                <td>货号</td>
                <td>规格</td>
                <td>数量</td>
            </tr>
            <volist name="goods" id="list">
            <tr>
                <td>{$list.goods_name}</td>
                <td>{$list.goods_sn}</td>
                <td>{$list.spec_key_name}</td>
                <td>{$list.total}</td>
            </tr>
            </volist>
        </table>
    <else />
        <table class="driver_table">
            <tr>
                <td>品名</td>
                <volist name="userList" id="uList">
                    <td>{$uList.consignee}</td>
                </volist>
                <td>总计</td>
                <td>实际出货量</td>
                <td>备注</td>
            </tr>
            <volist name="goods" id="list">
                <tr>
                    <td><span class="goods_name">{$list.goods_name}</span></td>
                    <volist name="userList" id="uList">
                        <td>{$userGoodsCount[$list['goods_id']][$uList['order_id']]['total']}</td>
                    </volist>
                    <td>{$list.total}</td>
                    <td></td>
                    <td></td>
                </tr>
            </volist>
        </table>
    </if>
</div>
