<style type="text/css">
    <!--
    .paper {
        padding: 0mm 0mm 0mm 5mm;
        font-size:11pt;
    }
    .paper table tr td{
        border: 1px solid black;
    }
    .paper td{
        heith:10mm;
        line-height: 10mm;
        padding-left: 5mm;
        padding-right: 10mm;
    }
    .paper .start_end{
        margin-bottom: 5mm;
    }
    -->
</style>
<div class="paper">
    <div class="start_end">{$start_end}</div>
    <table>
        <tr>
            <td>品名</td>
            <td>货号</td>
            <td>规格</td>
            <td>数量</td>
        </tr>
        <volist name="goods" id="list">
        <tr>
            <td>{$list.goods_name}</td>
            <td>{$list.goods_sn}</td>
            <td>{$list.spec_key_name}</td>
            <td>{$list.total}</td>
        </tr>
        </volist>
    </table>
</div>
