<style type="text/css">
    <!--
    .paper {
        width: 217mm;
        padding: 0mm;
        font-size:9pt;
        background: #ffffff;
    }
    .stick {
        position:relative;
        float:left;
        width: 217mm;
        height: 140mm;
        padding: 2mm 0 0 2mm;
        background: #ffffff;
    }
    .stick .qrcode img{
        position: absolute;
        width: 85px;
    }
    .stick .title{
        position: absolute;
        font-size: 32pt;
        top: 0mm;
        left: 70mm;
    }
    .stick .print_time{
        position: absolute;
        top: 12mm;
        left: 155mm;
    }
    .stick .cut-off{
        position: absolute;
        width: 70%;
        border-bottom: 1px dashed black;
        top: 21mm;
        left: 30mm;

    }
    .stick .info_left{
        position: absolute;
        width: 60%;
        top: 25mm;
    }
    .stick .info_right{
        position: absolute;
        width: 28%;
        top: 25mm;
        right: 0mm;
    }
    .stick .product{
        position: absolute;
        width: 97%;
        top: 45mm;
    }
    .stick .product table{
        width: 100%;
    }
    .stick .total{
        width: 20%;
        float: right;
        margin-right: 0mm;
    }
    .stick .bottom_right{
        position: absolute;
        width: 27%;
        top:125mm;
        right: 0mm;
    }
    .stick .bottom_left{
        position: absolute;
        width: 60%;
        top: 110mm;
    }
    .stick .bottom_left .money{
        margin-bottom: 3mm;
    }
    .stick .bottom_left .money span{
        margin-right: 10mm;
        display: inline-block;
        width: 20mm;
    }
    .stick .bottom_left .underline{
        margin-bottom: 3mm;
    }
    .stick .bottom_left .underline span{
        display: inline-block;
        margin-right: 14mm;
        width: 16mm;
        border-bottom: 1px solid black;
    }
    .stick .memo{
        margin-top:1mm;
    }
    -->
</style>
<div class="paper">
    <volist name="orderList" id="list">
    <div class="stick">
        <div class="top">
            <span class="qrcode"><img src="/Public/images/qrcode.jpg"></span>
            <span class="title">龙龙蛋出库单</span>
            <span class="print_time">打印时间：{$now_time|date='Y-m-d H:i:s',###}</span>
            <span class="cut-off"></span>
        </div>
        <div class="info_left">
            <div class="customer">客户名称: {$list.nickname}</div>
            <div class="address">收货地址：{$list.district}{$list.address}</div>
            <div class="get_name">收货人: {$list.consignee}</div>
            <dvi class="mobile">联系电话: {$list.mobile}</dvi>
        </div>
        <div class="info_right">
            <div class="customer">订单号: {$list.order_sn}</div>
            <div class="customer">下单时间: {$list.add_time|date='Y-m-d H:i',###} </div>
           <!-- <div class="memo">
                {$list.user_note}
            </div>--><br />
            <div class="system_memo">备注：{$list.action_note}</div>
        </div>
        <div class="product">
            <table border="1">
                <tr>
                    <td>NO</td>
                    <td>品名</td>
                    <td>规格</td>
                    <td>数量</td>
                    <td>单价</td>
                    <td>总价</td>
                    <td>备注</td>
                </tr>
                <volist name="list['products']" id="pro" key="k">
                    <tr>
                        <td>{$k}</td>
                        <td>{$pro.goods_name}</td>
                        <td>{$pro.spec_key_name}</td>
                        <td>{$pro.goods_num}</td>
                        <td>{$pro.member_goods_price}</td>
                        <td>{$pro.goods_total}</td>
                        <td></td>
                    </tr>
                </volist>
            </table>

            <div class="total">
                <div>运费：{$list.shipping_price}</div>
                <div>优惠折扣:-{$list['coupon_price'] + $list['discount']}</div>
                <div>总价：{$list.order_amount}</div>
            </div>
        </div>
        <div class="bottom_right">
            <div class="company">上海夏实信息科技有限公司</div>
            <div class="company_address">地址：上海市青浦区蔡家路88号</div>
            <div class="company_phone">订购电话：15317003665</div>
        </div>
        <div class="bottom_left">
            <div class="money"><span>专用框(只)</span><span>杂框(只)</span><span>蛋液(斤)</span><span>实收金额</span></div>
            <div class="underline"><span></span><span></span><span></span><span></span></div>
            <div class="money"><span>收货人</span><span>送货人</span></div>
            <div class="underline"><span></span><span></span></div>
        </div>
    </div>
    </volist>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
</script>